.portfolio {
  width: 100%;
}
.portfolio .about {
  height: 300px;
  width: 100%;
  justify-content: space-between;
  gap: 30px;
}

.portfolio .about:nth-of-type(even) {
  flex-direction: row-reverse;
  justify-content: space-between;
}

@media only screen and (max-width: 992px) {
  .portfolio .about-content {
    gap: 10px;
  }
}

@media only screen and (max-width: 768px) {
  .portfolio .about {
    margin: 100px auto;
    height: auto;
  }

  .portfolio .about-content {
    gap: 20px;
  }

  .portfolio .about:nth-of-type(even) {
    flex-direction: column;
  }
}
