<section class="experience">
  <div class="experience-container experience-content">
    <h2 class="experience-content__title">Work Experience</h2>
    <div class="experience-content__timeline">
      <div class="experience-content__timeline-item">
        <div class="experience-content__timeline-item__marker"></div>
        <div class="experience-content__timeline-item__content">
          <div class="experience-content__timeline-item__content-header">
            <h3 class="experience-content__timeline-item__content__title">Frontend Developer</h3>
            <span class="experience-content__timeline-item__content__date">2023 - Present</span>
          </div>
          <p class="experience-content__timeline-item__content-company">Thinker, Skopje</p>
          <p class="experience-content__timeline-item__content-description">
            Developing responsive web and mobile apps using Angular and Ionic/Capacitor. Handling
            feature development, bug fixes, API integration, and cross-platform deployment.
          </p>
        </div>
      </div>

      <div class="experience-content__timeline-item">
        <div class="experience-content__timeline-item__marker"></div>
        <div class="experience-content__timeline-item__content">
          <div class="experience-content__timeline-item__content-header">
            <h3 class="experience-content__timeline-item__content__title">Frontend Developer</h3>
            <span class="experience-content__timeline-item__content__date">2022 - 2023</span>
          </div>
          <p class="experience-content__timeline-item__content-company">Embedsocial, Skopje</p>
          <p class="experience-content__timeline-item__content-description">
            Built and maintained scalable web applications using Vue.js and Angular. Focused on
            developing user-focused features, optimizing performance, and ensuring cross-browser
            compatibility.
          </p>
        </div>
      </div>

      <div class="experience-content__timeline-item">
        <div class="experience-content__timeline-item__marker"></div>
        <div class="experience-content__timeline-item__content">
          <div class="experience-content__timeline-item__content-header">
            <h3 class="experience-content__timeline-item__content__title">
              Frontend Developer Intern
            </h3>
            <span class="experience-content__timeline-item__content__date">2022 - 2022</span>
          </div>
          <p class="experience-content__timeline-item__content-company">Embedsocial, Skopje</p>
          <p class="experience-content__timeline-item__content-description">
            Built and maintained scalable web applications using Vue.js and Angular. Focused on
            developing user-focused features, optimizing performance, and ensuring cross-browser
            compatibility.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
