<section class="experience">
  <div class="experience-container experience-content">
    <h2 class="experience-content__title">Work Experience</h2>
    <div class="experience-content__timeline">
      <div class="experience-content__timeline-item">
        <div class="experience-content__timeline-item__marker"></div>
        <div class="experience-content__timeline-item__content">
          <div class="experience-content__timeline-item__content-header">
            <h3 class="experience-content__timeline-item__content__title">Frontend Developer</h3>
            <span class="experience-content__timeline-item__content__date">2023 - Present</span>
          </div>
          <p class="experience-content__timeline-item__content-company">Thinker, Skopje</p>
          <ul class="experience-content__timeline-item__content-list">
            <li>
              Developed and optimized the user interface of a cross-platform POS application using
              Angular, Ionic, and Capacitor, ensuring consistent UX across web, Android, and iOS.
            </li>
            <li>
              Delivered a production-grade Angular application for the US automotive market,
              achieving a 100% Lighthouse accessibility score.
            </li>
            <li>
              Maintained and modernized a legacy AngularJS application, improving code quality and
              maintainability
            </li>
            <li>
              Developed and optimized Vue.js features for an online ordering platform, improving
              performance and user experience.
            </li>
            <li>
              Integrated frontend applications with REST APIs, ensuring reliable and efficient data
              flow between client and server.
            </li>
          </ul>
        </div>
      </div>

      <div class="experience-content__timeline-item">
        <div class="experience-content__timeline-item__marker"></div>
        <div class="experience-content__timeline-item__content">
          <div class="experience-content__timeline-item__content-header">
            <h3 class="experience-content__timeline-item__content__title">Frontend Developer</h3>
            <span class="experience-content__timeline-item__content__date">2022 - 2023</span>
          </div>
          <p class="experience-content__timeline-item__content-company">EmbedSocial, Skopje</p>
          <ul class="experience-content__timeline-item__content-list">
            <li>
              Built and maintained production features using Vue.js, improving platform stability
              and usability
            </li>
            <li>
              Migrated legacy jQuery/Twig components into reusable Vue.js components, reducing
              technical debt and improving performance.
            </li>
            <li>
              Implemented unit tests using Jest and Vue Test Utils, increasing code reliability and
              reducing regressions
            </li>
            <li>
              Collaborated with cross-functional teams to deliver features in an Agile environment.
            </li>
          </ul>
        </div>
      </div>

      <div class="experience-content__timeline-item">
        <div class="experience-content__timeline-item__marker"></div>
        <div class="experience-content__timeline-item__content">
          <div class="experience-content__timeline-item__content-header">
            <h3 class="experience-content__timeline-item__content__title">
              Frontend Developer Intern
            </h3>
            <span class="experience-content__timeline-item__content__date">2022 - 2022</span>
          </div>
          <p class="experience-content__timeline-item__content-company">EmbedSocial, Skopje</p>
          <ul class="experience-content__timeline-item__content-list">
            <li>Developed frontend features using Vue.js and TypeScript.</li>
            <li>Learned Vue.js, Pinia, Vuex and Jest while developing internal project.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
