.btn {
  height: 48px;
  border: 1px solid #33323d;
  font-family: Public Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  letter-spacing: 2px;
  text-align: center;
  cursor: pointer;
  width: 202px;
}

.btn:hover {
  background-color: #33323d;
}

.btn:hover .btn-link {
  color: white;
}

.btn-link {
  text-decoration: none;
  color: #33323d;
}
