<div class="skills">
  <div class="skills-container skills-content">
    <h2 class="skills-content__title">Skills & Technologies</h2>
    <div class="skills-content__grid">
      <span class="skills-content__grid-tag">Angular</span>
      <span class="skills-content__grid-tag">TypeScript</span>
      <span class="skills-content__grid-tag">JavaScript</span>
      <span class="skills-content__grid-tag">RxJS</span>
      <span class="skills-content__grid-tag">HTML5</span>
      <span class="skills-content__grid-tag">CSS3/SCSS</span>
      <span class="skills-content__grid-tag">Vue.js</span>
      <span class="skills-content__grid-tag">Pinia</span>
      <span class="skills-content__grid-tag">Vuex</span>
      <span class="skills-content__grid-tag">Ionic</span>
      <span class="skills-content__grid-tag">Capacitor</span>
      <span class="skills-content__grid-tag">Jest</span>
      <span class="skills-content__grid-tag">Jasmine</span>
      <span class="skills-content__grid-tag">Git</span>
      <span class="skills-content__grid-tag">C#</span>
      <span class="skills-content__grid-tag">.NET</span>
      <span class="skills-content__grid-tag">SQL</span>
      <span class="skills-content__grid-tag">REST APIs</span>
    </div>
  </div>
</div>
