<div class="education">
  <div class="education-container education-content">
    <h2 class="education-content__title">Education</h2>
    <div class="education-content__grid">
      <div class="education-content__grid-card">
        <h3 class="education-content__grid-card__title">Frontend Development Bootcamp</h3>
        <p class="education-content__grid-card__institution">Code Academy, Skopje</p>
        <p class="education-content__grid-card__date">2021 - 2022</p>
      </div>
      <div class="education-content__grid-card">
        <h3 class="education-content__grid-card__title">Bachelor of Laws</h3>
        <p class="education-content__grid-card__institution">Faculty of Law, Skopje</p>
        <p class="education-content__grid-card__date">2016 - 2020</p>
      </div>
    </div>
  </div>
</div>
