.about{
    width: 90%;
    height: 600px;
    margin: 100px 0px;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.image{
    width: 540px;
    height: 100%;
}

@media only screen and (max-width: 768px) {
    .about{
        flex-direction: column;
        height: 800px;
        gap: 30px;
    }
    .image{
        width: 100%;
        height: 50%;
    }
}

@media only screen and (max-width: 600px){
    .about{
        height: auto;
    }
}